fastapi[standard]
python-multipart
aiofiles
uvicorn[standard]
python-dotenv
python-jose[cryptography]


asyncpg
databases[postgresql]==0.6.2
psycopg2-binary
SQLAlchemy==1.4.41

numpy
pandas
onnxruntime
Pillow>=9.2.0
loguru
opencv-python  # need these installed with command: sudo apt-get update && apt-get install ffmpeg libsm6 libxext6  -y
pyyaml